body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#invalidUsername {
    color: red;
    padding: 5px;
    display: none;
}

table {
    border-collapse: collapse;
}

td, .th {
    padding: 8px;
}

.th {
    border-bottom: 1px solid gray;
}

#belowPieChart {
    text-align: center;
}

#languageTable {
    margin-left:auto; 
    margin-right:auto;
}